body, html, .APP {
  margin: 0px;
}

h1,p{
  color: #b8860b;
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.title{
font-size: 50px;
margin: 0px;
margin-top: 15px;
margin-bottom: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80px;
  padding-left: 10px;
  margin-bottom: 15px;
  background: linear-gradient(to bottom, black, rgb(40,40,80))
}

.pokemon-matt{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App{
  background-color: rgb(40,40,80);
}

.card-image{
  width: 280px;
  height: 350px;
  margin: 10px;
  border-radius: 20px;
}

.card-image:hover{
  cursor: pointer;
  border: 5px;
  box-shadow: 0 0 10px #ffcc00;
}