.card{
  display: flex;
  height: 350px;
  width: 280px;
  border-radius: 20px;

  justify-content: center;
  flex-wrap: wrap;
}

.cardImage{
  width: 180px;
  height: 180px;
  margin: 10px;
  border-radius: 20px;
}

.cardImage:hover{
  cursor: pointer;
  border: 5px;
  box-shadow: 0 0 10px #ffcc00;
}